DataTablePanel {
    width: 100%;
    height: 50%;
    border: none;
    padding: 1;
}

DataTablePanel DataTable {
    height: 1fr;
    width: 100%;
}

DataTablePanel DataTable .datatable--row {
    height: 1;
}

DataTablePanel DataTable .datatable--header {
    text-style: bold;
    color: #00ff00;
}

DataTablePanel DataTable .datatable--cursor {
    background: #333333;
}
