LivePlotPanel {
    width: 100%;
    height: 50%;
    border: none;
    padding: 1;
}

LivePlotPanel #live_plot {
    height: 1fr;
    width: 100%;
}

.short-input {
    width: 12;
}

#stats_display {
    border: solid $primary-lighten-2;
    padding: 1;
    margin-bottom: 1;
}
