DataTablePanel {
    width: 100%;
    height: 50%;
    border: none;
    padding: 1;
}

DataTablePanel DataTable {
    height: 1fr;
    width: 100%;
}

DataTablePanel DataTable .datatable--row {
    height: 1;
}

DataTablePanel DataTable .datatable--header {
    text-style: bold;
    color: #00ff00;
}

DataTablePanel DataTable .datatable--cursor {
    background: #333333;
}

.short-input {
    width: 12;
}

#stats_display {
    border: solid $primary-lighten-2;
    padding: 1;
    margin-bottom: 1;
}
